.item {
    padding: 5px 12px;
    width: 100%;
}
.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top .userInfo {
    display: flex;
}
.userInfo .name {
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
}
.userInfo .time {
    font-size: 12px;
    color: #898a8c;
    margin-left: 5px;
}
.item .comment {
    text-align: left;
    padding: 10px 55px;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
}
.list .ant-list-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.list .ant-list-item .ant-list-item-action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 68px;
    padding-right: 20px;
}