.header {
    /* background-color: #9e85a0; */
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 0px 1px 1px #f0f0f0;
    height: 60px;
    color: #252626;
}
.headerBox{
    /* border: 1px solid #000; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.col {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    /* width: 100px; */
    display: flex;
    align-items: center;
}
.logo .logoName {
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}
.info {
    display: flex;
}
.info .divs {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.divs span {
    margin-left: 5px;
    cursor: pointer;
}
.search_col {
    position: relative;
}
.search_box {
    width: 420px;
    position: relative;
}
.searchResult {
    position: absolute;
    top: 44px;
    left: 10px;
    right: 10px;
    height: 500px;
    z-index: 999;
    background-color: #ffffff;
    color: #252626;
    border-radius: 4px;
}
.searchResult .ant-list-item {
    padding: 10px 12px;
}
.searchResult .ant-list-item-meta-title {
    text-align: left;
}
.searchResult .ant-list-item-action {
    margin-left: 9px;
}
.searchResult .ant-list-item-meta-description {
    text-align: left;
}
.searchResult .addUser {
    background-color: #ebf2ff;
    border: none;
}
.searchResult .addUser:hover{
    background-color: #ffffff;
    border: 1px solid #1890ff;
}
.searchResult .user_note{
    display: inline-block;
    font-size: 12px;
    width: 166px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}