.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("@/static/assets/img/login.jpg");
    background-size: cover;

}
.login .loginWrap {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 500px;
    /*height: 500px;*/
    transform: translate(-250px, -250px);
    background: #ffffff;
    padding: 20px;
}
.loginBox {
    margin-top: 24px;
    padding: 0px 20px 20px 20px;
}
.login .item {
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.login .item .label {
    width: 75px;
    text-align: left;
    display: inline-block;
}
.item .required {
    color: red;
}
.login .item input {
    flex: 1;
    border-radius: 4px;
}
.login .item .ant-select-selector {
    border-radius: 4px;
}
.registerForm .ant-upload.ant-upload-select-picture-card {
        width: 85px;
        height: 85px;
}
.login .item .ant-select-selection-item {
    text-align: left;
}
.tagList {
    display: flex;
    flex-wrap: wrap;
}
.login .tag {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    /* background-color: #ffffff; */
    color: #ffffff;
    cursor: pointer;
}
.login .item .ant-upload-picture-card-wrapper {
    text-align: left;
}

